/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

h1 {
  font-size: 40px;
  font-family: "Raleway";
  font-weight: 700;
}

p {
  font-family: "Open Sans";
  font-weight: 400;
}

.block {
  background-color: #efefef;
  border-left: 2px solid black;
  width: 500px;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 1px;
}


